{% extends 'base.html' %}
{% block title %}
    新增需求
{% endblock %}
{% block crumbs %}
    <a href="">项目管理</a>
    <a href="/user/demand/pool/">需求池</a>
    <a><cite>更新需求</cite></a>
{% endblock %}
{% block main %}

    <div class="layui-fluid  ">
        <div class="layui-card layui-col-lg10 layui-col-md10">
            <div class="layui-card-header " style="font-size: 20px">需求信息填写</div>
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="component-form-element">
                    <div class="layui-form-item">
                        <div class="layui-col-lg6">
                            <label class="layui-form-label">需求名称：</label>
                            <div class="layui-input-block">
                                <input name="id" style="display: none" value="{{ requirement.id }}"
                                       class="layui-input"/>

                                <input id="name" name="name" lay-verify="required"
                                       autocomplete="off" class="layui-input" value={{ requirement.name }}>
                            </div>
                        </div>
                        <div class="layui-col-space10 ">
                            <span id="name_check" class="layui-form-label"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <div class="layui-col-lg6">
                            <label class="layui-form-label">所属项目：</label>
                            <div class="layui-input-block">
                                <select name="project" lay-verify="required" lay-filter="project">
                                    {% for p in projects %}
                                        {% if p.id == requirement.project.id %}
                                            <option value="{{ p.id }}" selected>{{ p.name }}</option>
                                        {% else %}
                                            <option value="{{ p.id }}">{{ p.name }}</option>

                                        {% endif %}

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <div class="layui-col-lg6">
                            <label class="layui-form-label">负责人：</label>
                            <div class="layui-input-block">
                                <select name="owner" lay-verify="required" lay-filter="aihao">
                                    {% for u in users %}
                                        {% if u.id == requirement.owner.id %}
                                            <option value="{{ u.id }}" selected>{{ u.username }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.username }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <div class="layui-col-lg6">
                            <label class="layui-form-label">分类：</label>
                            <div class="layui-input-block">
                                <select name="category" lay-verify="required" lay-filter="aihao">
                                    {% for c in categorys %}
                                        {% if c.id == requirement.category.id %}
                                            <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                        {% else %}
                                            <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <div class="layui-col-lg6">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <select name="status" lay-verify="required" lay-filter="aihao">
                                    {% for s in status %}
                                        <option>{{ s.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a id="confirm" class="layui-btn" lay-filter="component-form-element">
                                立即提交
                            </a>
                            <a type="reset" class="layui-btn layui-btn-primary">重置</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script>
        layui.use('element', function () {
            var element = layui.element;
        });

        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
            {#form.on('select(project)', function (data) {#}
            {#        if (data.value === '1') {#}
            {#            alert('牛逼');#}
            {#        } else {#}
            {#            alert('不行');#}
            {#        }#}
            {##}
            {#    }#}
            {#)#}
        });


        $("#confirm").click(function () {
            {#获取提交值#}
            var rid = $("input[name='id']").val();
            var name = $("#name").val();
            var owner = $("select[name='owner']").val();
            var project = $("select[name='project']").val();
            var category = $("select[name='category']").val();
            var status = $("select[name='status']").val();
            $.post('/user/api/update/', {
                rid: rid,
                name: name,
                owner: owner,
                project: project,
                category: category,
                status: status
            }, function (data) {
                if (data.code === 0) {
                    alert('修改')
                    window.location.href = '/user/demand/pool'
                } else {
                    alert(data.msg)
                }


            })
        })
    </script>
{% endblock %}