{% extends 'base.html' %}
{% block title %}
    项目列表
{% endblock %}
{% block crumbs %}

    <a href="">项目管理</a>
    <a><cite>需求池</cite></a>
{% endblock %}
{% block main %}

    <div class="layui-card layui-fluid">
        <div class="layui-card-body">
            <div class="layui-inline layui-col-md3">
                <a class="layui-btn " href="/user/demand/new/">新增需求</a>
            </div>
            <div class="demoTable">
                <div class="layui-inline">
                    <label CLASS="layui-form-label">项目名称：</label>
                    <div class="layui-input-block">
                        <input id="keyword" name="name" lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline ">

                    <label class="layui-form-label">按项目筛选</label>
                    <div class="layui-input-inline ">
                        <select name="project" class="layui-select">
                            <option value="">全部项目</option>
                            {% for p in projects %}
                                <option value="{{ p.id }}">{{ p.name }}</option>

                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button id="searchbar" class="layui-btn" data-type="reload">搜索</button>
            </div>
        </div>

    </div>

    <div class="layui-fluid">
        <script type="text/html" id="barDemo" >
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="archive">归档</a>
        </script>

        <div class="layui-card layui-col-space20 layui-col-md9">

            <table class="layui-hide" id="test" lay-filter="demo"></table>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });

        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                ,
                url: '/user/api/demands/'
                ,
                page: true
                ,
                cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                ,
                cols: [[
                    {field: 'id', width: '10%', title: '序号', sort: true}
                    , {field: 'name', width: '20%', title: '名称'}
                    , {field: 'category', width: '10%', title: '来源', sort: true}

                    , {field: 'status', title: '状态', width: '10%'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , {field: 'project', width: '20%', title: '项目名'}
                    , {field: 'owner', width: '10%', title: '所有者'}
                    , {fixed: 'right', width: '20%', title: '操作', toolbar: '#barDemo'}
                ]], id: 'testReload',

            });
            //监听工具条
            table.on('tool(demo)', function (obj) {
                console.log(obj);
                var data = obj.data;
                if (obj.event === 'archive') {
                    layer.confirm("归档后，只能在历史界面可见", function (index) {
                        $.post('/user/api/archive/', {rid: data.id});
                        layer.close(index);
                    });
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.post('/user/api/delete/', {rid: data.id});
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    url = '/user/demand/update/?rid=' + data.id
                    window.location.href = url
                }
            });

            var $ = layui.$, active = {
                reload: function () {
                    var keyword = $('#keyword').val();
                    var project = $("select[name='project']").val();

                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            keyword: keyword,
                            project: project
                        }
                    }, 'data');
                }
            };

            $('#searchbar').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });


    </script>
{% endblock %}

